
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

#cache
.turbo
.next
.vercel

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# local env files
.env*

out/
build/chrome-mv3-dev
dist/

# plasmo - https://www.plasmo.com
.plasmo

# bpp - http://bpp.browser.market/
keys.json

# typescript
.tsbuildinfo

# IDEs
/.idea
/.vscode
/build/firefox-mv2-dev/icon16.plasmo.13d3ec80.png
/build/firefox-mv2-dev/icon32.plasmo.fa2b43c0.png
/build/firefox-mv2-dev/icon48.plasmo.1b498739.png
/build/firefox-mv2-dev/icon64.plasmo.90132ddd.png
/build/firefox-mv2-dev/icon128.plasmo.a731bff4.png
/build/firefox-mv2-dev/manifest.json
/build/firefox-mv2-dev/plasmo-default-background.ab990726.js
/build/firefox-mv2-dev/tahvel.a4d52c1e.js
